!!!
html(lang="en")
  head
    title <?php perch_pages_title(); ?>
    //- Basic needs
    meta(charset='utf-8')
    meta(name='designer', content='Patrik Affentranger')

    //- Perch SEO
    <?php perch_content('SEO'); ?>

    //- Mobile
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //- CSS
    // if ! lt IE 6
        link(rel='stylesheet', href='css/styles.css')
    // if lt IE 6
        link(rel="stylesheet", href="css/ie6.1.1.css", media="screen, projection")


    //- Favicons
    link(rel="shortcut icon", href="img/favicon.ico")
    link(rel="apple-touch-icon", href="img/apple-touch-icon.png")
    link(rel="apple-touch-icon", href="img/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", href="img/apple-touch-icon-114x114.png")

    //- Modernizr
    script(type="text/javascript", src="js/lib/modernizr.min.js")
  body
    yield