<?php include('perch/runtime.php'); ?>
include partials/meta
  include partials/header

  section(role="main")
    <?php perch_content('Intro'); ?>

  include partials/footer
  include partials/scripts