<?php include('perch/runtime.php'); ?>
bodyClasses = "home"
include partials/_meta
  include partials/_header

  section(role="main")
    h1 <?php perch_content('Page Title'); ?>

  include partials/_footer
  include partials/_scripts